{{> head }}
{{> nav }}
{{#each flash_messages}}
    <div id="flash-messages-{{@index}}" class="my-modal">
        <div class="my-modal-content">
            {{#if this.error}}
                <p style="color: red">{{this.message}}</p>
            {{else}}
                <p style="color: green">{{this.message}}</p>
            {{/if}}
        </div>   
        <div class="my-modal-footer">
            <button onclick="close_modal({{@index}})">Close</button>
        </div>
    </div>
{{/each}}
{{{body}}}
{{> footer }}
