<section id="pokemon">
  <h1>Your Pokemon</h1>
  <div class="pokemon-container">
    {{#each pokemon}}
      <div
        width="18rem"
        class="card pokemon-card {{this.first_type}}"
        data-count="{{this.count}}"
        data-img_url="{{this.img_url}}"
        data-name="{{this.name}}"
        data-attack="{{this.attack}}"
        data-defense="{{this.defense}}"
        data-hp="{{this.hp}}"
        data-special_attack="{{this.special_attack}}"
        data-special_defense="{{this.special_defense}}"
        data-speed="{{this.speed}}"
        data-types_string="{{this.types_string}}"
      >
        <li class="counter"> {{this.count}} </li>
        <img
          classname="card-img-top"
          src="{{this.img_url}}"
          alt="Card image cap"
        />

        <div class="card-body"><h5
            class="card-title"
            id="pokemon_name"
          >{{this.name}}</h5>
          <p class="card-text type">Type(s): "{{this.types_string}}</p>
        </div>
        <ul class="list-group list-group-flush" id="pokemon_description">
          <li class="list-group-item stats">Hitpoints: {{this.hp}} </li>
          <li class="list-group-item stats">Attack: {{this.attack}} </li>
          <li class="list-group-item stats">Defense: {{this.defense}} </li>
          <li class="list-group-item stats">Special Attack: {{this.special_attack}} </li>
          <li class="list-group-item stats">Special Defense: {{this.special_defense}} </li>
          <li class="more-info"> 
            <a href="/pokemon/{{this.name}}"> More Info </a>
          </li>
        </ul>
      </div>
    {{/each}}
  </div>
</section>