<button type="submit" id="request-trade-btn" class="btn btn-primary">Request Trade</button>
<div id="req-trade-container">
    <section id="get">
        <h2>Get</h2>
        <div class="pokemon-container"></div>
    </section>
    <section id="give">
        <h2>Give</h2>
        <div class="pokemon-container"></div>
    </section>
    <section id="your-pokemon">
        <h1>Your Pokemon</h1>
        <div class="pokemon-container">            
            {{#each your.pokemon}}
                <div class="card pokemon-card {{this.first_type}}"
                     data-count="{{this.count}}" 
                     data-img_url="{{this.img_url}}" 
                     data-name="{{this.name}}" 
                     data-attack="{{this.attack}}" 
                     data-defense="{{this.defense}}"
                     data-hp="{{this.hp}}" 
                     data-special_attack="{{this.special_attack}}" 
                     data-special_defense="{{this.special_defense}}" 
                     data-speed="{{this.speed}}"
                     data-first_type="{{this.first_type}}"
                     data-types_string="{{this.types_string}}">
                    <li class="counter"> {{this.count}} </li>
                    <img classname="card-img-top" src="{{this.img_url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="pokemon_name">{{this.name}}</h5>
                        <p class="card-text type">Type(s): {{this.types_string}}</p>
                    </div>
                    <ul class="list-group list-group-flush" id="pokemon_description">
                        <li class="list-group-item stats">Hitpoints: {{this.hp}} </li>
                        <li class="list-group-item stats">Attack: {{this.attack}} </li>
                        <li class="list-group-item stats">Defense: {{this.defense}} </li>
                        <li class="list-group-item stats">Special_Attack: {{this.special_attack}} </li>
                        <li class="list-group-item stats">Special Defense: {{this.special_defense}} </li>
                        <li class="list-group-item stats">Speed: {{this.speed}} </li>
                    </ul>                    
                </div>            
            {{/each}}            
        </div>
    </section>
    <section id="their-pokemon">
        <h1>{{other.username}}'s Pokemon</h1>
        <div class="pokemon-container">
            {{#each other.pokemon}}
                <div class="card pokemon-card {{this.first_type}}"
                     data-count="{{this.count}}" 
                     data-img_url="{{this.img_url}}" 
                     data-name="{{this.name}}" 
                     data-attack="{{this.attack}}" 
                     data-defense="{{this.defense}}"
                     data-hp="{{this.hp}}" 
                     data-special_attack="{{this.special_attack}}" 
                     data-special_defense="{{this.special_defense}}" 
                     data-speed="{{this.speed}}"
                     data-first_type="{{this.first_type}}"
                     data-types_string="{{this.types_string}}">
                    <li class="counter"> {{this.count}} </li>
                    <img classname="card-img-top" src="{{this.img_url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" id="pokemon_name">{{this.name}}</h5>
                        <p class="card-text type">Type(s): {{this.types_string}}</p>
                    </div>
                    <ul class="list-group list-group-flush" id="pokemon_description">
                        <li class="list-group-item stats">Hitpoints: {{this.hp}} </li>
                        <li class="list-group-item stats">Attack: {{this.attack}} </li>
                        <li class="list-group-item stats">Defense: {{this.defense}} </li>
                        <li class="list-group-item stats">Special_Attack: {{this.special_attack}} </li>
                        <li class="list-group-item stats">Special Defense: {{this.special_defense}} </li>
                        <li class="list-group-item stats">Speed: {{this.speed}} </li>
                    </ul>                    
                </div>            
            {{/each}}
        </div>
    </section>    
</div>

<script type="text/javascript" src="/js/shared_functions.js"></script>
<script type="text/javascript" src="/js/request_trade.js"></script>
